button{
    background-color: black !important;
    color: white !important;
    padding: 0.5rem 1rem;           /* py-2 px-4 */
    font-size: 0.875rem;           /* text-sm */
    font-weight: 600;              /* font-semibold */
    border: none    ;
}
input{
    border-color: black;
    border-width: 2px;
}