.card {
  width: 300px;
  height: 350px;
  border: 1px solid transparent;
  padding: 16px;
  text-align: center;
  transition: border 0.3s ease;
  position: relative;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: inherit;
}

.card:hover {
  border: 1px solid #ffc107;
}

.imageWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
  overflow: hidden;
  margin-top: 30px;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

/* Overlay info */
.info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 👈 Giúp name nằm trên, price nằm dưới */
  align-items: center;
  background: rgba(255, 255, 255, 0.75);
  padding: 0px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card:hover .info {
  opacity: 1;
}

.name {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.price {
  font-size: 14px;
  color: #333;
  text-align: center;
}
